@charset "utf-8";
:root{
    --main-color:RGB(46,167,224);
    --bese-color:RGB(234,238,241);
    --accent-color:RGB(87,82,84);
    --font-color:RGB(30,18,16)
}
body{
    color:var(--font-color);
    background-color: var(--base-color);
    margin: 0;
    padding: 0;
}
main{
    margin: 100px auto 60px;
    width: 768px; 
    height: auto;
}
h2,h3,h4{
    text-align: center
}
h2{
    margin-top: 50px;
}
h3{
    margin:10px auto 0;
    padding: 0;
}
header{
    background:var(--main-color);
    box-shadow:0 2px 8px rgba(30,30,80,.3);
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:24;
  }
.headA{
    margin: 0;
    padding: 0;
}
.headA ul{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}
.headA li{
    margin: 0;
    padding: 0;
}
.headA a{
    display: block;
    padding: 15px;
    color:var(--bese-color);
    font-size: 20px;
    text-decoration: none;
    margin: 0;
}
/*TOP*/
#TOP{
    line-height: 400px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.name{
    display:inline-block;
    vertical-align: middle;
    line-height:normal;
    background: rgba(255,255,255,0.9);
}
.myname{
    font-size: 46px;
    margin-bottom: 0;
}
.pot{
    font-size: 23px;
    margin-top: 0;
}
/*skill*/
.skilltext{
    display: flex;
    margin-top: 0;
    padding: 0;
}
/*work*/
.wrokwimg{
    display: block;
}
.workg{
    width: 60%;
}
.workgs{
    height:500px;
}
.workp{
    width: 60%;
}
.workpoint{
    display:flex;
}
.worktext1{
    margin: 150px auto auto 10px;
    font-size: 0.9em;
}
.webotimg{
    width: 80%;
    margin: 0 auto;
}
.tabakoimg{
    margin-left: 120px
}
.tabako{
    width: 80%;
}
/*フッター*/
footer {
    background-color:var(--main-color);
    color:var(--font-color);
	width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
}
.container{
    padding:20px;
    height: auto;
    text-align: center;
}
/*PC*/
@media(min-width:768px){
    .headA ul{
        display:flex;
        
    }
}